In [10]:
#loading the necessary modules 
import pandas as pd

In [11]:
#loading files
zcta_df = pd.read_csv('/net/rcstorenfs02/ifs/rc_labs/dominici_lab/lab/data_processing/zip2zcta_master_xwalk/michelle/data/output/zip2zcta_master_xwalk/zip2zcta_master_xwalk.csv')
#df_2009 = pd.read_csv('/n/dominici_nsaph_l3/Lab/data_processing/census_acs5/nishtha_old/data/output/census_acs5/census_2009.csv')
#set(zcta_df['zcta'].unique())

In [12]:
#checking coverage
coverage_dict = {'year':[],'xwalk_zcta':[], 'census':[], '%coverage':[]}
zcta_from_xwalk = list(zcta_df['zcta'].unique())

for year in list(range(2009, 2018)):

    file__prefix = '/n/dominici_nsaph_l3/Lab/projects/analytic/census_acs5/'
    file_name = 'census_' + str(year)
    file_suffix = '.parquet'
    file_path = file__prefix + file_name + file_suffix
    df = pd.read_parquet(file_path)

    zcta_df = set(df['zcta'])

    coverage_dict['year'].append(year)
    coverage_dict['xwalk_zcta'].append(len(zcta_from_xwalk))
    coverage_dict['census'].append(len(zcta_df))
    coverage_dict['%coverage'].append(100.0*len(zcta_df)/len(zcta_from_xwalk))

In [13]:
#coverage % for each census file as a % of xwalk (% of zcta covered as a total of xwalk zctas)
cover_df = pd.DataFrame(coverage_dict)


print('%coverage: % of zcta covered as a total of xwalk zctas ')
cover_df

%coverage: % of zcta covered as a total of xwalk zctas

   year  xwalk_zcta  census  %coverage
0  2009       33144   33120  99.927589
1  2010       33144   33120  99.927589
2  2011       33144   33120  99.927589
3  2012       33144   33120  99.927589
4  2013       33144   33120  99.927589
5  2014       33144   33120  99.927589
6  2015       33144   33120  99.927589
7  2016       33144   33120  99.927589
8  2017       33144   33120  99.927589